<div class="row">
    <div class="col-12 col-lg-6">
        <div class="my-3">
            <label for="exampleFormControlTextarea1" class="form-label">Base64 encoded string</label>
            <textarea class="form-control user-select-all" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div id="conversion-button-wrapper">
            <button id="btn-decode" type="button" class="btn btn-primary">Decode <i class="bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="my-3">
            <label for="exampleFormControlTextarea1" class="form-label">Base64 decoded string</label>
            <textarea class="form-control user-select-all" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div id="conversion-button-wrapper">
            <button id="btn-decode" type="button" class="btn btn-primary">Encode <i class="bi-arrow-left"></i></button>
        </div>
    </div>
</div>