<div class="row bg-light border-top position-fixed bottom-0 w-100 p-3 m-0">
    <!-- TODO: move description to a component in the body -->
    <p>Polycoder is a simple web app that allows you to do common developper tasks such as encoding or decoding base64
        strings, minify or beutify Javascript and more. I add modules to it progressively as I need them in my
        developper career. </p>
    <p class="text-center">
        Developed by <a href="https://github.com/Meknassih/polycoder"><i class="bi-github"></i>Meknassih</a> under <a
            href="https://github.com/Meknassih/polycoder/blob/main/LICENSE">GNU Affero General Public License v3.0</a>
    </p>
</div>