<div class="row">
    <div class="col-12 col-lg-6">
        <div class="mt-3">
            <label for="input-pretty" class="form-label">Pretty Javascript code</label>
            <textarea class="form-control" id="input-pretty" rows="3"></textarea>
            <div class="text-muted"><span id="text-size-pretty">0</span> chars</div>
        </div>
        <div id="conversion-button-wrapper" class="my-3">
            <button id="btn-minify" type="button" class="btn btn-primary">Minify <i class="bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="mt-3">
            <label for="input-ugly" class="form-label">Minified or ugly Javascript code</label>
            <textarea class="form-control" id="input-ugly" rows="3"></textarea>
            <div class="text-muted"><span id="text-size-ugly">0</span> chars</div>
        </div>
        <div id="conversion-button-wrapper" class="my-3">
            <button id="btn-beautify" type="button" class="btn btn-primary">Beautify <i
                    class="bi-arrow-left"></i></button>
        </div>
    </div>
</div>