<div class="row">
    <div class="col-12 col-lg-6">
        <div class="mt-3">
            <label for="input-encoded" class="form-label">URI encoded string</label>
            <textarea class="form-control" id="input-encoded" rows="3"></textarea>
        </div>
        <div id="conversion-button-wrapper" class="my-3">
            <button id="btn-decode" type="button" class="btn btn-primary">Decode <i class="bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="mt-3">
            <label for="input-decoded" class="form-label">URI decoded string</label>
            <textarea class="form-control" id="input-decoded" rows="3"></textarea>
        </div>
        <div id="conversion-button-wrapper" class="my-3">
            <button id="btn-encode" type="button" class="btn btn-primary">Encode <i class="bi-arrow-left"></i></button>
        </div>
    </div>
</div>